<%= javascript_include_tag :all %>
<%= javascript_include_tag 'control_suite/object.event.1.0.0.js' %>
<%= javascript_include_tag 'control_suite/control.modal.2.2.3.js' %>
<%= link_to 'Click Here', '#add_cc_form', :id => 'add_cc_link', :style => "display: none" %>
<div id="add_cc_form">
  <div class="window_header">
    <div class="window_close" id="window_close" onClick = "cc_modal.close();"></div>
  </div>
  <div class="window contents" style="min-height: 200px;">
    <div style="max-width:480px;margin:0px auto;background:rgba(0,0,0,0.6);width:90%;display:flex;">
    	<div style="float:left;text-align:center;padding:25px;">
        	<h3 style="font-size:27px;width:100%;text-align:center;color:#fff;">Congrats! Your account has been updated.</h3>
            <%= image_tag "right.png", :style => "margin:0 auto;width:90%;max-width:97px;  margin-top: 20px;" %>
        </div>	
    </div>
  </div>
</div>
<%= session.delete(:ss_message) %>
<script>
    cc_modal = new Control.Modal('add_cc_link',{containerClassName: 'window', width: 400});
    document.observe("dom:loaded", function() {
      cc_modal.open();
    });
    
</script>