- if !@start_flag
  - if @user_buckets
    #workouttype
      - if params[:edit_workouts] == 'true'
        %h1{:style=>'color:#FF0000;'} Note: Your workouts won't change until the next workout cycle
      - form_for @user, :url => account_path do |f|
        = render :partial => '/accounts/user_bucket_form', :locals => {:f => f}
        = hidden_field_tag :update_user_bucket_on_workout, true
        = submit_tag "Get Workouts", :class => 'confirm', :style => "margin: 20px 0"
        - if params[:edit_workouts] == 'true'
          = button_to('Cancel', workouts_path, :class =>'confirm')
  - else
    #workout_week
      %div
        %h2{:style => 'width:auto; padding: 0;'}
          // TODO: temporary fix to show for trials only
          - if @user.subscription.product == Subscription::BASIC_SUBSCRIPTION && @user.subscription.state == Subscription::TRIAL_STATE
            14-Day Trial Week
            = trial_week_number(1, @user.created_at.to_date, Time.now.to_date)
    #workout_header
      %div
        %h2{:style => 'width:auto;'} Your workouts for the week of #{@week_start.strftime "%B %d, %Y"}
      - if @user.subscription.product == Subscription::BASIC_SUBSCRIPTION && !@user.workout_difficulty.nil? && !@user.user_bucket_id.nil?
        = link_to('Change', workouts_path(:edit_workouts => true), :class => 'small_button' )
        #current_workout_type
          You are receiving
          %strong= "#{@user.workout_difficulty.capitalize}, #{@user.user_bucket.name}"
          workouts
    = render :partial => 'workout', :collection => @workouts

- else
  #thank_you
    %h2 Thank you for becoming a member of PhysicalFix.
    %h3 Since we handcraft each of your workouts especially for you, it will take about a week for you to get your first workouts. Check back on #{(@week_start + 1.week).to_s(:long)} for your first workout!</h3>