= link_to "", "#", {:class => 'information'}
%span(id="favorite-#{details[:food].id.to_s}" class="favoritelink")
  - if ff = @favorite_ids[details[:food].id.to_s]
    = link_to_remote "", {:method => :delete, :url => favorite_food_path(:id => ff.id), :with => "'food_id=#{details[:food].id.to_s}'",  :confirm => 'Are you sure you want to unfavorite this food?'}, {:class => 'favorite'}
  - else
    = link_to_remote "", {:method => :post, :url => favorite_foods_path, :with => "'id=#{details[:food].id.to_s}'" }, {:class => 'unfavorite'}
%span.calories #{details[:serving].calories.to_f.round} Cals
%span.carbs  #{details[:serving].carbohydrates.to_f.round}g Carbs
%span.fat  #{details[:serving].fat.to_f.round}g Fat
%span.protein #{details[:serving].protein.to_f.round}g Protein