= javascript_include_tag :all
= javascript_include_tag 'control_suite/object.event.1.0.0.js'
= javascript_include_tag 'control_suite/control.modal.2.2.3.js'

#add_cc_form
  .window_header
    .window_close#window_close(onClick="modal.close();")
    .window_title Add Credit Card
  %div{:class => 'window contents',:style => "min-height: 200px;"}
    - @credit_card = CreditCard.new
    - form_remote_for :credit_card,:url => subscriptions_path do |f|
      #left-box
        #enterbillinginfo
          #errors
          %ul
            %li            
              %h3 Card Number
              = f.text_field :card_number
            %li
              %h3 CVV
              = f.text_field :cvv
            %li
              %h3 Expiration
              = f.date_select :expiration, {:order => [:month, :year], :use_month_numbers => true, :start_year => Date.today.year}
              = hidden_field_tag 'plan', "basic"
              = f.hidden_field 'first_name', :value => current_user.first_name
              = f.hidden_field 'last_name', :value => current_user.last_name
            %li
              %br
              %br
              %br
              %br
              = submit_tag 'Submit', :class => 'addweight', :style => 'float:none; top:0; display: inline; width: 150px;padding: 0px;height: 27px;border: 0;'
          %br

%script
  modal = new Control.Modal('add_cc_link',{containerClassName: 'window', width: 400});