<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN"
	"http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
	xml:lang="en" lang="en">
	<head>
		<meta http-equiv="Content-type" 
			content="text/html; charset=utf-8" />
		<title>FitStream</title>
		<%= stylesheet_link_tag 'style' %>
	</head>
	<body>
		<h1 style="padding-left:15px">FitStream</h1>
		<div id="content">
		<div style="text-align: right;"><%= link_to 'Home', '/admin' %>  | <%= link_to 'Users', :controller => 'User'%> | <%= link_to 'Exercises', :controller => 'Exercise' %> | <%= link_to 'Workouts', :controller => 'Workout' %></div>
		<%= yield %>
		</div>
	</body>
</html>