= render :partial => 'account_menu', :locals => {:section => :billing}
%table.upgrades
  %tbody
    %tr
      %th Plan
      %th Streaming Video Workouts
      %th.bool Food, Activity &amp; Weight Logs
      %th.bool 24/7 access to Personal Trainer
      %th 
    %tr{:class => @current_user.subscription.product == Subscription::PREMIUM_SUBSCRIPTION ? 'current' : ''}
      %td.name 
        Premium
        %em
          ($100/month)
      %td 3/week Personalized
      %td.bool YES
      %td.bool YES
      %td.action
        - if @current_user.subscription.product == Subscription::BASIC_SUBSCRIPTION
          - unless @num_pros >= 100
            = button_to "Upgrade!", new_subscription_path(:plan => 'premium'), :class=>'small_button'
          - else
            Sold Out
        -elsif @current_user.subscription.product == Subscription::FREE_SUBSCRIPTION
          - unless @num_pros >= 100
            = button_to 'Upgrade!', new_subscription_path(:plan => 'premium'), :class=>'small_button'
          - else
            Sold Out
        - elsif @current_user.subscription.product == Subscription::BASIC_SUBSCRIPTION && @current_user.subscription.state == Subscription::TRIAL_STATE 
          = button_to 'Downgrade', new_subscription_path(:plan => 'basic'), :class=>'small_button'
        -else
          Your Plan
    %tr{:class => @current_user.subscription.product == Subscription::BASIC_SUBSCRIPTION && @current_user.subscription.state == Subscription::ACTIVE_STATE ? 'current' : ''}
      %td.name
        Basic
        %em
          ($25/month)
      %td 3/week Targeted to your goals
      %td.bool YES
      %td.bool NO
      %td.action
        - if @current_user.subscription.product == Subscription::PREMIUM_SUBSCRIPTION
          = button_to "Downgrade", {:controller => 'subscriptions', :action => 'update', :method => :put, :product => 'basic'}, :confirm => 'Are you sure you wish to downgrade to the basic account?', :class=>'small_button'
        - elsif @current_user.subscription.product == Subscription::FREE_SUBSCRIPTION
          = button_to 'Upgrade!', new_subscription_path(:plan => 'basic'), :class=>'small_button'
        - elsif @current_user.subscription.product == Subscription::BASIC_SUBSCRIPTION && @current_user.subscription.state == Subscription::TRIAL_STATE 
          = button_to 'Upgrade!', new_subscription_path(:plan => 'basic'), :class=>'small_button'
        - else
          Your Plan
    - if @current_user.subscription.product == Subscription::BASIC_SUBSCRIPTION && @current_user.subscription.state == Subscription::TRIAL_STATE
      %tr{:class => @current_user.subscription.product == Subscription::BASIC_SUBSCRIPTION && @current_user.subscription.state == Subscription::TRIAL_STATE ? 'current' : ''}
        %td.name
          = current_user.get_trial_text
          %em
            (free)
        %td 3/week Targeted to your goals
        %td.bool YES
        %td.bool NO
        %td.action Your Plan
    %tr{:class => @current_user.subscription.product == Subscription::FREE_SUBSCRIPTION ? 'current' : ''}
      %td.name Free
      %td None
      %td.bool YES
      %td.bool NO
      %td.action
        - if @current_user.subscription.product != Subscription::FREE_SUBSCRIPTION
          = button_to "Downgrade", subscription_path(@current_user.subscription), :confirm => "Are you sure you want to cancel your subscription?", :method => 'delete'
        - else
          Your Plan