- form_for :user , :url => account_path do |f|
  #openbox
    #inner{:style => 'width:970px'}
      #box-wrapper
        
        // Maybe we'll need this for later:
        
        / -if flash[:error]
        /          .billing_error
        /            = flash[:error]
        
        - if Subscription.day_14_trial?(session[:plan])
          %h2 Congrats! Your 14-day trial and a healthier lifestyle start here!
        - elsif Subscription.day_30_trial?(session[:plan])
          %h2 Congrats! Your 30-day trial and a healthier lifestyle start here!
        - else
          %h2 Congrats! You've just taken the first step toward a healthier lifestyle!

        #left-box
          #enteruserinfo{:style => 'margin-right:10px;margin-left:100px;'}
            %fieldset
              %p.info We just need to get a bit of information that will help us help you meet your goals.
              %ul
                %li
                  - label("First Name", @user, :first_name)
                  = f.text_field :first_name
                %li
                  - label("Last Name", @user, :last_name)
                  = f.text_field :last_name
                %li
                  - label("Email Address", @user, :email)
                  = f.text_field :email
                %li
                  - label("Password", @user, :password)
                  = f.password_field :password
                %li
                  - label("Confirm Password", @user, :password_confirmation)
                  = f.password_field :password_confirmation
                  
                /////////////////////////
                // Start: Premium fields
                /////////////////////////
                  
                - if Subscription.premium?(session[:plan])
                  %li
                    - label("Home Phone", @user, :home_phone)
                    = f.text_field :home_phone
                  %li
                    - label("Cell Phone", @user, :cell_phone)
                    = f.text_field :cell_phone
                    
                ///////////////////////
                // End: Premium fields
                ///////////////////////
                    
                %li
                  - label("Date of Birth", @user, :birthday)
                  = date_select_helper
                %li
                  - label("Sex", @user, :sex)
                  = select :user, :sex, ["Male", "Female"]
                %li
                  - label("Height", @user, :height)
                  %select(name="height_feet")
                    = options_for_select((4..7), @height_feet)
                  %span.annote Feet
                  %select(name="height_inches")
                    = options_for_select((0..11), @height_inches)
                  %span.annote Inches
                %li
                  - label("Weight", @user, :weight)
                  = f.text_field :weight, :size => 3
                  %span.annote Lbs
                %li
                  - label("Target Weight", @user, :target_weight)
                  = f.text_field :target_weight, :size => 3
                  %span.annote Lbs
                %li.option
                  - label("Rate your general level of fitness:", @user, :fitness_level)
                  %div{:style => 'float:left'}
                    %label
                      = f.radio_button :fitness_level, "Excellent"
                      Excellent
                    %label
                      = f.radio_button :fitness_level, "Good-Fair"
                      Good-Fair
                    %label
                      = f.radio_button :fitness_level, "Poor"
                      Poor
                %li
                  - label("Fitness Goals", @user, :goals)
                  = f.text_area :goals, :rows => 4
                %li
                  - label("Time Zone", @user, :time_zone)
                  = time_zone_select_helper(f)
                  
            ///////////////
            // Credit Card
            ///////////////
            
            - if Subscription.paid?(session[:plan])
              %fieldset
                = image_tag('lock.png', :id => 'lock')
                %span#secure
                  %strong SECURE
                %h3 Your Billing Information
                %p.info
                  PhysicalFix currently accepts 
                  %strong Visa
                  , 
                  %strong MasterCard
                  , 
                  %strong American Express
                  and
                  %strong Discover. 
                %br
                %p.info 
                  Please note: Your credit card will be billed on a monthly basis until you choose to cancel your membership.
                %ul
                  - fields_for @credit_card do |c|
                    %li
                      - label("Card Number", @credit_card, :card_number)
                      = c.text_field :card_number, {:autocomplete => 'off', :size => 16}
                    %li
                      - label("CVV", @credit_card, :cvv)
                      = c.text_field :cvv
                    %li
                      - label("Expiration", @credit_card, :expiration)
                      = date_select_helper(c)
            %ul
              %li.option
                - label("Terms", @user, :terms)
                %div{:style => 'float:left'}
                  %label
                    = f.check_box :terms
                    I agree to the
                    = link_to("Terms and Conditions", {:controller => 'legal', :action => 'terms_and_conditions'}, :target => '_blank')
                    - if Subscription.premium?(session[:plan])
                      and the
                      = link_to("User agreement", {:controller => 'legal', :action => 'user_agreement'}, :target => '_blank')
            = submit_tag "Sign Up!", :class => "confirm"
        
        /////////////////////////////////////////////
        // Don't include right box if it's a freebie
        /////////////////////////////////////////////
        
        - if !Subscription.freeby?(session[:plan])
          #right-box
            #plan-box
              %h4 
                You're signing up for the
                - if Subscription.day_14_trial?(session[:plan])
                  %strong 14-Day Trial
                - elsif Subscription.day_30_trial?(session[:plan])
                  %strong 30-Day VIP Trial
                - else
                  %strong= session[:plan].upcase
                plan 
                - if Subscription.basic?(session[:plan]) && Subscription.paid?(session[:plan])
                  for $25/mo.
                - elsif Subscription.premium?(session[:plan]) && Subscription.paid?(session[:plan])
                  for $100/mo.
                which includes:
              %ul
                - if Subscription.basic?(session[:plan])
                  %li 3 video workouts a week targeted to your goals
                - elsif Subscription.premium?(session[:plan])
                  %li 24 hour access to a person trainer
                  %li 3 videos a week crafted by your own personal trainer
                %li Food Journal with Calorie Counter
                %li Personalized Activity Tracker
                %li Visual Weight Tracker
                
            - if Subscription.free?(session[:plan])
              #upgrade-box
                = link_to("Upgrade to our BASIC plan", signup_path(:plan => 'basic'), :class => 'upgrade')
                #up-outer
                  #up-text
                    Add
                    %strong 3 personalized video workouts
                    a week for just $25/mo.
                  #up-img
                    = image_tag('up_workout.png')