= render :partial => 'account_menu', :locals => {:section => :account}
#userinfo
  - form_for @user, :url => account_path do |f|
    #enteruserinfo
      %ul
        %li
          - label('First Name', @user, :first_name)
          = f.text_field :first_name
        %li
          - label('Last Name', @user, :last_name)
          = f.text_field :last_name
        - if session[:plan] == 'premium'
          %li
            - label('Home Phone', @user, :home_phone)
            = f.text_field :home_phone
          %li
            - label('Cell Phone', @user, :cell_phone)
            = f.text_field :cell_phone
        %li
          - label('Date of Birth', @user, :birthday)
          = date_select :user, :birthday, :order => [:month, :day, :year], :start_year => 1900, :prompt => true
        %li
          - label('Sex', @user, :sex)
          = select :user, :sex, ['Male', 'Female']
        %li
          - label('Height', @user, :height)
          %select(name="height_feet")
            = options_for_select((4..7), @height_feet)
          %span.annote Feet
          %select(name="height_inches")
            = options_for_select((0..11), @height_inches)
          %span.annote Inches
        %li
          - label('Target Weight', @user, :target_weight)
          = f.text_field :target_weight, :size => 3
          %span.annote Lbs
        %li.option
          - label('Fitness Level:', @user, :fitness_level)
          %div{:style => 'float:left'}
            %label
              = f.radio_button :fitness_level, "Excellent"
              Excellent
            %label
              = f.radio_button :fitness_level, "Good-Fair"
              Good-Fair
            %label
              = f.radio_button :fitness_level, "Poor"
              Poor
        %li
          - label('Fitness Goals', @user, :goals)
          = f.text_area :goals, :rows => 4
        %li
          - label('Time Zone', @user, :time_zone)
          = f.time_zone_select :time_zone, ActiveSupport::TimeZone.us_zones, {:default => "Eastern Time (US & Canada)"}, {:style => 'width:290px'}
  
   
      %a.form_submit(href="\#" onclick="document.forms[0].submit()") Save Details

//- if @user.subscription_type != SubscriptionManager::FREE_SUBSCRIPTION
//  #userequip
//    %h2 Add/Remove Equipment
//    %ul
//      - for item in @user.equipment.split("|")
//        %li= item

//    = link_to "Edit Your Equipment", edit_account_path

//#usersub
//  = link_to('cancel account', account_path, :method => :delete, :confirm => "Are you sure you want to delete your account?\nAll of your data will be deleted.")
